
  <div class="profile-header">
    <h1>Welcome back <i><%= current_user.username.upcase %></i>!</h1>
      <h3><%= current_user[''] %></h3>
        <%= image_tag(current_user.image, :class => "profile-pic") %></br>
        <%= link_to "Open Pull Requests", "/open_pull_requests" %>
    <hr>
    <section>
      <h3> MY GITHUB REPOS </h3>
      <ul><% @api.repos.each do |repo| %>
        <li><%= link_to repo.name, repo.url %> -- <i><%= repo.owner %></i> -- last updated at: <%= repo.created_at%></li>
      <% end %></ul>
    </section>
  </div>
<div class="container">
  <div class="container-dash">
    <section class="container-dash-content">
      <h3> MY STARRED REPOS -- <%= @api.starred_repos.count %></h3>
      <ul><% @api.starred_repos.each do |repo| %>
        <li><%= link_to repo[:name], repo[:html_url] %></li>
      <% end %></ul>
    </section>
    <section class="container-dash-content">
      <h3> My Followers </h3>
      <<% @api.followers.each do |follower| %>
        <p><a href="<%= follower.url %>"><%= image_tag(follower.image, :class => "avatar-thumbnail") %></a> : <%= follower.username %></p>
        <ul><li>repos: <%= link_to "click_here", follower.repos %></li></ul>
      <% end %>
      <%= link_to "followers", "https://api.github.com/user/followers?access_token=#{current_user.token}" %>
    </section>
    <section class="container-dash-content">
      <h3> Who I'm Following </h3>
      <% @api.following.each do |follower| %>
        <p><a href="<%= follower.url %>"><%= image_tag(follower.image, :class => "avatar-thumbnail", ) %></a> : <%= follower.username.upcase %></p>
      <% end %>
      <%= link_to "followings", "https://api.github.com/user/following?access_token=#{current_user.token}" %>
    </section>
    <section class="container-dash-content">
      <h3> My organizations: <%= @api.organizations.count %> </h3>
      <ul><% @api.organizations.each do |organization| %>
        <p><%= organization.name %> : </p>
        <li><%= link_to organization.id, organization.url %></li>
        <li><%= link_to "repos", organization.repos %></li>
        <li><%= link_to "public members", organization.public_members %></li>
      <% end %></ul>
      <%= link_to "organizations", "https://api.github.com/user/orgs?access_token=#{current_user.token}" %>
    </section>
  </div>
</div>
</br>
<hr>
<div class="footer">
  <%= link_to "my_feed", dashboard_path(id: 'my_feed') %>
  <%= link_to "their_feed", dashboard_path(id: 'network_feed') %>
</div>
